#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.lightgray-bg {
  background-color: rgb(243, 243, 243);
}


header {
  display: flex;
  place-items: center;
  padding-right: calc(var(--section-gap) / 2);
}

.logo {
  margin: 0 20px 0 0;
}

header .wrapper {
  display: flex;
  place-items: flex-start;
  flex-wrap: wrap;
}

#todos {
  margin-top: 20px;
}

#todos article {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  display: flex;
}

.view-link {
  display: block;
  margin-left: auto;
}

.date {
  display: block;
  color: #999;
}

.done {
  text-decoration: line-through;
}
#todo-search {
  display: flex;
  justify-content: end;
  gap: 10px;
}
#todo-search input, #todo-search button {
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 5px;
}
